<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand">MusicScheduler</a>
            <img src="/images/grauMusicSchedulerLogo.png" alt="" class="navbar-brand" style="height: 50px"/>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li (click)="showInfo(false)">
                    <a>Home</a>
                </li>
                <li (click)="showInfo(true)">
                    <a>Info</a>
                </li>
                <li (click)="skip()">
                    <a>Skip</a>
                </li>
                <li (click)="pauseResume()">
                    <a>Pause/Resume</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="container body-content">
    <p class="bg-info currentlyPlaying">
        <span class="currentlyPlayingHeader">Currently playing</span><br/>{{info.CurrentlyPlaying}}
    </p>

    <hr/>

    <div *ngIf="!showInfoSection">
        <h2>Book</h2>
        <div class="input-group">
            <span class="input-group-addon" id="input-youtube">Youtube URL</span>
            <input #url type="text" class="col-md-8 form-control">
        </div>
        <div class="input-group">
            <span class="input-group-addon">Username</span>
            <input #username (keyup.enter)="bookSong(url, username)" type="text" class="col-md-8 form-control">
        </div>

        <div class="input-group">
            <button (click)="bookSong(url, username)" type="submit" class="btn btn-primary">Book</button>
        </div>
    </div>

    <div *ngIf="showInfoSection">
        <h2>Queue</h2>
        <p *ngIf="info.Users.length <= 0">Nothing has been queued yet.</p>
        <table *ngFor='let user of info.Users' class="table userTable">
            <tr>
                <th>{{user.Name}}</th>
                <td>{{user.TimePlayed}}s played</td>
                <td></td>
            </tr>
            <tr *ngFor='let video of user.YoutubeLinks'>
                <th></th>
                <td *ngIf="video.Name">{{video.Name}}</td>
                <td *ngIf="!video.Name">{{video.Url}}</td>
                <td>{{video.Duration}}s</td>
            </tr>
        </table>
    </div>
        
    <hr/>

    <footer>
        <p>&copy; 2016 - MusicScheduler</p>
    </footer>
</div>