<form asp-controller="Home" asp-action="Index" method="post" class="form-horizontal" role="form">
    <h2>Book</h2>
    <div class="input-group">
        <span class="input-group-addon" id="input-youtube">Youtube URL</span>
        <input id="youtubeURL" type="text" name="YoutubeLink" class="col-md-8 form-control">
    </div>
    <div class="input-group">
        <span class="input-group-addon" id="input-username">Username</span>
        <input type="text" name="User" class="col-md-8 form-control">
    </div>

    <div class="input-group">
        <button type="submit" class="btn btn-primary">Book</button>
    </div>
</form>
<h3>@ViewData["ErrorMessage"]</h3>