@if (ViewData["CurrentPlayingSong"] != "")
{
    <h1>Currently playing: @ViewData["CurrentPlayingSong"]</h1>
}

@for (var i = 0; i < (int)ViewData["Users"]; i++)
{
    <h2>@ViewData["User"+i]</h2>
    <p>Time played: @ViewData["User" + i + "TimePlayed"] seconds</p>
    <h3>Links in queue:</h3>
    @for (var j = 0; j < (int)ViewData["User" + i + "YoutubeLinks"]; j++)
    {
        <p>@ViewData["User" + i + "YoutubeLink" + j]</p>
    }
    <p>--------------------------------------------------------------------------------------------------------------------------------------------------------</p>
}