$primary-color: #344f79;
$primary-color-highlight: #46A3F4;

body {

    .navbar-inverse {
        background-color: $primary-color;
        background: linear-gradient(#37537F, $primary-color);
    }

    .navbar-inverse .navbar-brand {
        color: white;
    }

    .navbar-inverse .navbar-nav > li > a {
        color: white;
        cursor: pointer;
    }

    .navbar-inverse .navbar-nav > li > a:hover {
        color: $primary-color-highlight;
    }

    .userTable th {
        width: 150px;
    }

    .userTable {
        margin-bottom: 50px;
    }

    .input-group {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .currentlyPlaying {
        margin-top: 20px;
        padding: 5px;
        margin-bottom: 20px;

        text-align: center;
        font-size: 1.25em;
    }

    .currentlyPlayingHeader {
        font-weight: bold;
    }

    .input-group {
        width: 500px;
    }

    .input-group-addon {
        width: 125px;
    }
}
