body .navbar-inverse {
  background-color: #344f79; }

body .navbar-inverse .navbar-brand {
  color: white; }

body .navbar-inverse .navbar-nav > li > a {
  color: white; }

body .navbar-inverse .navbar-nav > li > a:hover {
  color: #46A3F4; }

body .input-group {
  margin-top: 20px;
  margin-bottom: 20px; }

body .currentlyPlaying {
  margin-top: 20px;
  padding: 5px;
  margin-bottom: 20px; }

body .currentlyPlayingHeader {
  font-weight: bold; }
